@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-visible {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #edf2f7;
}

.scrollbar-visible::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 6px;
  border: 3px solid #edf2f7;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background-color: #edf2f7;
}